body {
  max-width: 719px;
  margin: auto; }
.content {
  position: relative;
  form{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
    label{
      display: none;
    }
  input{
    position: absolute;
    left: 50.5%;
    width: 35%;
    border: none;
    height: 2.8%;
    outline: none;
    color: #fff;
  }
  input#id_name{
    top:40.8%;

  }
  input#id_wechat_no{
    top:45.8%;

  }
  input#id_mobile_phone{
    top:51.6%
  }
  input#id_date{
    top:63%
  }
  input#id_supervisor{
    top:57.4%
  }
  input#id_auth_no{
    top:68.4%

  }
    button{
      position: absolute;
      width: 15%;
      bottom: 9.8%;
      height: 5.5%;
      background-color: transparent;
      border: none;
    }
    button.submit{
      left: 27%;
    }
    button.close{
      right: 27%;
    }
    .errors{
      position: absolute;
      top: 0;
      width: 12%;
      left: 86.5%;
      height: 2.3%;
      background-color: #fff;
      line-height: 30px;
      color: #ff921e;
    }
    .error1{
      top:40.8%;
    }
    .error2{
      top:45.8%;
      height: 2.8%;
    }
    .error3{
      top:51.6%;
      height:2.8%;
    }
    .error4{
      top:57.4%;
      height: 2.8%;
    }
    .error5{
      top:63%;
      height: 2.5%;
    }
    .error6{
      top:68.4%;
      height: 2.5%;
    }

}

}
.over{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
}
.light{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  h2{
    color: #fff;
    text-align: center;
    margin-bottom: 120px;
  }
  button{
    background-color: transparent;
    border-radius: 3px;
    border:solid #d5be73 1px;
    color: #fff;
    display: block;
    width: 60px;
    margin: auto;
  }
}
