$yellow:#ffe384;
$hs:#848382;
$hh:#a3a3a3;
a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
body{
  position: relative;
}
p.a1{
  font-family: Arial;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  text-align: left;
}
p.a2{
  font-size: 12px;
  color: #000000;
  text-align: left;
}
p.a3{
  font-family: Arial;
  font-size: 12px;
  color: #000000;
  text-align: left;
}
.tong{
  font-family: "Century Gothic";
  display: block;
  text-align: center;
  font-size: 36px;
  color: #dec573;
}
.hello{
  background-color:$hh;
  margin-top: 50px;

}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
header{
  height: 100%;

  padding-bottom: 50px;
  form{
    margin-top: 30px;
    margin-right: 50px;
    float: right;
    input{
      border-radius: 11px;
      border: 2px solid;
      outline: none;
      color: #848382;
      background-color: transparent;
    }
    input::input-placeholder {text-align: center}
    input:-ms-input-placeholder { text-align: center }
    input::-moz-input-placeholder { text-align: center }
    input::-webkit-input-placeholder { text-align: center }
    img.search{
      cursor: pointer;
    }
  }
  .slide-1{
    margin-top: 10%;
    float: right;
  }
  .slide-2{
    position: relative;
    left: -20px;
    margin-top: -67%;
  }
  .logo{
    position: relative;
    left: -30px;
    float: right;
    img{
      width: 48%;
    }
    ul{
      margin-left: auto;
      margin-right: auto;
      width: 470px;
      height: 30px;
      padding: 0;
      margin-top: 13%;
      list-style: none;
      li{
        font-size: 14px;
        float: left;
        margin-left: 10px;
        margin-right: 20px;
      a{
        font-family: "Century Gothic";
        color:$yellow;
        font-size: 14px;
        }
      }
    }
    p{
      display: block;
      text-align: center;
      color: #ccb569;
    }
    p.line2{
      font-family: "Arial";
    }
    img{
      margin-top: 30px;
      margin-bottom: 30px;
    }

  }
}
footer{
  background-color: #000;
  .address{
      visibility: hidden;
    }
  .clearfix{
    padding-bottom: 40px;
    p.title{
      font-family: "Century Gothic";
      font-size: 25px;
      color: #ccb569;
    }
    p.detail{
      font-size: 14px;
      color:#cccccc;
    }
    p.en{
        font-family: Arial;
        color:#cccccc;
      }
    .authorization{
      form{
        margin-top: 30px;
      }
      input{
        background-color:transparent;
        outline: none;
        height: 25px;
        border: 1px solid #898989;
        color: #fff;
      }
      button{
        background-color: #848484;
        border: 0;
        height: 25px;
      }
      input::-webkit-input-placeholder { /* WebKit browsers */
        color:    #848484;
      }
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:     #848484;
      }
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:  #848484;
      }
      input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:     #848484;
      }
    }
  }
  .footer{
    ul{
      list-style: none;
      margin-bottom: 0;
    }
    p{
      margin-bottom: 0;
      font-size: 14px;
      color: #cccccc;
      float: right;
      margin-right: 150px;
    }
    li{
      float: left;
      color: #ccb569;
      font-weight: 900;
      a{
        font-family: Arial;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 14px;
        color:#ccb569;
      }
    }
  }
}
.modal-dialog{
  img{
    display: block;
    margin: auto;
    width: 500px;
  }
}
img.top{
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.error{
  display: none;
  position: fixed;
  top: 30%;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  button{
    position: absolute;
    right: 0;
    top:0;
    border: none;
    background-color: transparent;
    span{
      display: block;
      color: #fff;
    }
  }
  button:hover{
    background-color: transparent;
  }
  button:active{
    background-color: transparent;
  }
  span:active{
    background-color: transparent;
  }

}