body {
  max-width: 719px;
  margin: auto; }
.content {
  position: relative;
  form{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
    label{
      display: none;
    }
  input{
    position: absolute;
    left: 50.5%;
    width: 36%;
    border: none;
    height: 3.2%;
    outline: none;
    background-color: transparent;
    color: #fff;
  }
  input#id_name{
    top:48.4%;

  }
  input#id_wechat_no{
    top:54.6%;

  }
  input#id_mobile_phone{
    top:61.9%

  }
  input#id_date{
    top:68.9%

  }
  input#id_supervisor{
    top:75.7%

  }
  input#id_auth_no{
    top:82.3%

  }
}
}
