{% extends 'base.html' %}
{% block title%}授权查询{% endblock %}
{% block content %}
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="/static/authorization.css">
<div class="content" id="head">

<img src="/static/certificate.jpg" class="img-responsive">
    <div class="absolute">
        <p id="authorize">Hereby We Authorize: <strong class="weight">{{ agent.name }} 为 {{ agent.level }}</strong></p>
        <p id="Wechat" >Wechat No.: <strong>{{ agent.wechat_no }}</strong></p>
        <p id="cinderella">Cinderella's conjuration pants: <strong>{{ agent.supervisor }}</strong></p>
        <p class="line1">Duration of Authorization : <strong>{{ agent.start_date|date:"Y/m/d" }}</strong></p>
    </div>
<script type="text/javascript" src="/static/authorization.js"></script>
</div>
{% endblock %}
