{% extends 'base.html' %}
{% block title%}授权查询{% endblock %}
{% block content %}
    {% block header %}{% endblock %}
<div class="content" id="head">
    <link rel="stylesheet" href="/static/authorization.css">

<img src="/static/background2.jpg" class="img-responsive">
    <div class="absolute">
        <p id="authorize">{{ agent.name }} 为 {{ agent.level }}</p>
        <p id="Wechat" >{{ agent.wechat_no }}</p>
        <p id="mobile">{{ agent.mobile_phone }}</p>
        <p id="supervisor">{{ agent.supervisor }}</p>
    </div>
    <p class="line1">{{ agent.date }}</p>
    <p class="line2">{{ agent.auth_no }}</p>
</div>
{% endblock %}
