{% extends 'base.html' %}
{% block title %}授权{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/command.css">
<div class="content" id="head">
    <img src="/static/command.png" class="img-responsive">
    <form method="post">
        {% csrf_token %}
        <input name="authorize" id="authorize">
        <input name="wechat" id="wechat">
        <input name="phone" id="phone">
        <input name="date" id="date">
        <input name="supervisor" id="supervisor">
        <input name="auth_no" id="auth_no">
    </form>
</div>
    {% block footer %}{% endblock %}
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}