<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>授权</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="content">
    <img src="/static/command.jpg" class="img-responsive">
    <form method="post">
        <input name="authorize" id="authorize">
        <input name="wechat" id="wechat">
        <input name="phone", id="phone">
        <input name="">
    </form>
</div>
</body>
</html>