<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}首页{% endblock %}</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
{% block header %}
<header class="container-fluid" id="head">
    <div class="clearfix">
    <form method="get" class="form1" action="auth/">
    <input name="query1" type="text" placeholder="代理商姓名/微信号">
        <img src="/static/search2.png" class="search">
    </form></div>
    <div class="logo col-xs-5">
        <ul class="hidden-xs hover-effect">
            <li><a href="#" class="aAboutUs">About Us</a></li>
            <li><a href="#" class="aFounder">Founder</a></li>
            <li><a href="#" class="aLeather">Leather Pants</a></li>
            <li><a href="#" class="aGallery">Gallery</a></li>
            <li><a href="#" class="aContact">Contact</a></li>
        </ul>
    <img src="static/logo.png" class="img-responsive center-block">
        <p class="line1">珂宣尼, 让你遇上完美的自己</p><p class="line2">We are commited to you perfection since 2015</p>
    </div>
    <div class="col-xs-7 slide2">
        <div class="col-xs-11 slide-1">
    <div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="static/slide-2.jpg" alt="First slide">
		</div>
		<div class="item">
			<img src="static/slide-1.jpg" alt="Second slide">
		</div>
		<div class="item">
			<img src="static/slide-3.jpg" alt="Third slide">
		</div>
	</div>
</div> </div>
    <div class="col-xs-4 slide-2"><div id="Carousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="static/slide-5.jpg" alt="First slide">
		</div>
		<div class="item">
			<img src="static/slide-4.jpg" alt="Second slide">
		</div>
		<div class="item">
			<img src="static/slide-6.jpg" alt="Third slide">
		</div>
	</div>
</div> </div></div>

</header>{% endblock %}
{% block content %}
<div class="content">
    <div class="aboutus clearfix">
    <p id="AboutUs">About Us</p>
        <div class="about-1 about clearfix">
            <div class="col-xs-6 text clearfix">
                <div class="text2">
                <p class="a1">Company</p>
                <p class="a2">珂宣尼为广州溢然贸易有限公司旗下品牌,公司成立于2015年,是一家专业从事产品研发,生产,销售的互联网+型公司。
                我司核心团队由偏执狂组成,自然我们对产品本身品质,人体力学舒适,包装设计等都有着近乎狂热的偏执追求,一匠打造。</p>
                <p class="a3">
                    Keexuennl was founded in 2015,It's a professional engaged in product development,production and sales
                    of Internet + company.Our core team are consists of paranoid mad,therefore our product itself quality,
                    ergonomic comfort,vision desigin has a near-fanatical paranoid pursuit.
                </p></div>
                </div>
            <img src="static/about-1.jpg" class="img-responsive col-xs-6 pic">
        </div>
    <div class="about-2 about clearfix">
        <img src="static/about-2.jpg" class="img-responsive col-xs-6">
        <div class="col-xs-6 text clearfix">
            <div class="text2">
                <p class="a1">Focus</p>
                <p class="a2">珂宣尼的历年,不在于做一种或者一类产品,而是以微商经济圈为出发点,以人为核心,研发富有创意,高质量产品,为用户带来极致的美的享受</p>
                <p class="a3">
                    Keexuennl's concept,not only to do one or a class of products,<br>
                    but base on the wechat economic circle derivative as a starting point,<br>
                    and focus on people-centered,development of innovative,<br>
                    high-quality products,in order to bring the ultimate beauty for our client.
                </p></div>
        </div>
    </div>
        <div class="about-3 about clearfix">
            <div class="clearfix col-xs-6 text">
                <div class="text2">
                <p class="a1">Present</p>
                <p class="a2">主推产品:<br>珂宣尼皮裤,
                未来我们将有更多产品上线,敬请期待</p>
                <p class="a3">
                    Our featured products:<br>
                    Keexuennl Leather pant.<br>
                    The future we still have more on the line,so stay tunned.
                </p></div>
        </div><img src="static/about-3.jpg" class="img-responsive col-xs-6">
        </div>
    </div>
    <div class="founder clearfix" id="Founder">
        <img class="founder" style="display: none" src="/static/team-1.jpg">
        <div class="col-xs-5 col-xs-offset-1 person"><p class="title">Founder</p><div class="team"><div class="p hidden-xs"><p class="introduce">Yiran Lee</p></div></div></div>
        <script type="text/javascript">
            var people = new Image();
            $("img.founder").load(function () {
                people.src = $("img.founder").attr("src");
            var people_ratio = people.width/people.height;
            $(".team").height($(".team").width()/people_ratio);
            $(window).resize(function () {
                $(".team").height($(".team").width()/people_ratio)
            });
            });
             people.src = $("img.founder").attr("src");
            var people_ratio = people.width/people.height;
            $(".team").height($(".team").width()/people_ratio);
            $(window).resize(function () {
                $(".team").height($(".team").width()/people_ratio)
            });
        </script>
        <div class="col-xs-5 say"><p class="title s2">Feedback</p><div class="feedback">
            <div class="all"><p class="a1">Yiran Lee</p>
        <p class="a2">"我开始以为生活的态度只有一种,工作的感觉也只有一中,但是慢慢成长后,发现原来生命中是有那么多色彩的,那么多的可能,没有限制,一切基于都在进行中"</p>
        <p class="a3">"I used to thought we can just only have one attitude towards our life,work is also one feeling.but as we grow older.We found that
            there are so many colors and so many possibilities in our life.There is no limit,all opportunities are processig."</p>
        </div>
            </div></div>
        <script type="text/javascript">
            if(window.innerWidth>=996){$("div.feedback").height($("div.team").height());
            $("img.founder").load(function () {
               $("div.feedback").height($("div.team").height());

            })}
            else{

            }

    </script>
    </div>
    <div class="Leather clearfix">
        <p id="Leather">Leather Pants</p>
        <img class="imgLeather" src="static/service-1.jpg" style="display: none">
        <div class="img1 img">
            <div class="text">
            <p class="title p1">Materials</p>
            <p class="chinese p1">产品精选法国进口皮料,以舒适时尚为最终目标</p>
            <p class="french p1">Our leather are come from France,comfortable and fashion are the goal we always expecting</p></div>
        </div>
        <div class="img2 img">
            <div class="text">
            <p class="title p1">Design</p>
            <p class="chinese p1">设计师团队精心研发,不断创新,缔造时尚潮流</p>
            <p class="french p1">Our design team focous o product development,constant innovation,guiding the fashion</p></div></div>
        <div class="img3 img">
            <div class="text">
            <p class="title p1">Craft</p>
            <p class="chinese p1">历经数道工序精心打磨,不放过一针一线,力臻完美</p>
            <p class="french p1">We focous on every procedures carefully polished,and take care every details,in order to be more perfect</p></div></div>
        <div class="img4 img">
            <div class="text">
            <p class="title p1">Brand</p>
            <p class="chinese p1">延续经典裁剪与工艺,坚持开拓创新,品质值得信赖</p>
            <p class="french ">Continuation of the classic tailoring and technology,adhere to innovation,our quality are worthy of trust</p></div></div>
    </div>
    <script type="text/javascript">
        var leather= new Image();
        $("img.imgLeather").load(function () {
            leather.src = $("img.imgLeather").attr("src");
            var leather_radio = leather.width/leather.height;
            $("div.img").height($("div.img").width()/leather_radio);
            $(window).resize(function () {
                $("div.img").height($("div.img").width()/leather_radio)
            })
        });
         leather.src = $("img.imgLeather").attr("src");
            var leather_radio = leather.width/leather.height;
            $("div.img").height($("div.img").width()/leather_radio);
        $(window).resize(function () {
                $("div.img").height($("div.img").width()/leather_radio)
            })
    </script>
    <div class="gallery">
        <p id="Gallery">Gallery</p>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g1">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.0.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect agileits w3layouts slow-zoom vertical text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g1">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.3.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.4.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.5.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.28.photo }}" class="b-link-stripe b-animate-go agileits w3layouts swipebox g8">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="#" class="b-link-stripe agileits w3layouts b-animate-go swipebox g8">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.7.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.28.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 gal-left agileits w3layouts">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.9.photo }}" class="b-link-stripe b-animate-go swipebox agileits w3layouts g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.9.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.10.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.10.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical text-center agileits w3layouts">
				<a href="/media/{{ gallery.11.photo }}" class="b-link-stripe b-animate-go agileits w3layouts swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.11.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.12.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g13">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.12.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.28.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g13">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.28.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.15.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.15.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.16.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.16.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.17.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.17.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.28.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g20">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.28.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.19.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g20">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.19.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.20.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.20.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom agileits w3layouts vertical text-center">
				<a href="/media/{{ gallery.21.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.21.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.22.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.22.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-xs-2 agileits w3layouts gal-left">
			<div class="content-grid-effect slow-zoom vertical agileits w3layouts text-center">
				<a href="/media/{{ gallery.23.photo }}" class="b-link-stripe agileits w3layouts b-animate-go swipebox g">
					<div class="img-box agileits w3layouts">
						<img src="/media/{{ gallery.23.photo }}" alt="image" class="img-responsive agileits w3layouts zoom-img">
					</div>
					<div class="info-box agileits w3layouts">
						<div class="info-content agileits w3layouts">
							<span class="separator agileits w3layouts"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
</div>

    <div class="contact clearfix">
        <p id="Contact">Contact</p>
        <div class="col-xs-5 col-xs-offset-1 address">
            <p class="a">If you have any questions or comments about KEEXUENNL,<br>
            Please leave your contact information and we will contact you as soon as possible.
            </p>
            <p class="b">
                Address
            </p>
            <p class="c">
                上海市松江区<br>
                锦昔路626号6楼605室 201620<br>
                <br>
                Room605,NO.626,JinXi Road,SongJiang District<br>
                Shanghai,China<br>
                201620
            </p>

        </div>
        <form class="col-xs-5">
            <input type="text" placeholder="Name" class="form-control">
            <input type="text" placeholder="Email" class="form-control">
            <input type="text" placeholder="Phone" class="form-control">
            <textarea placeholder="Message" class="message"></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<img class="modalimg img-responsive" src="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

</div>{% endblock %}
{% block footer %}
    <div class="error2">
    <div class="img-e">
	<img class="img-responsive" src="/static/error.jpg">
	<button type="button" class="">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button></div>
</div>
<footer>
    <div class="clearfix">
    <div class="col-xs-5 col-xs-offset-1 address">
        <p class="title">Address</p>
        <p class="detail">上海市松江区<br>
        锦昔路626号6楼605室 201620<br>
        <br></p>
        <p class="en">Room605,NO.626,JinXi Road,SongJiang District<br>
        Shanghai,China<br>
        201620</p>

    </div>
    <div class="authorization col-xs-5">
        <p class="title">Authorization Queries</p>
        <form method="get" action="auth/" class="form2">
            <input type="text" name="query2" placeholder="代理商姓名/微信号">
            <button type="button">授权查询</button>
        </form>


    </div></div>
    <div class="footer clearfix">
        <ul>
            <li><a href="#" class="aAboutUs">About Us</a>|</li>
            <li><a href="#" class="aFounder">Team</a>|</li>
            <li><a href="#" class="aLeather">Leather Pants</a>|</li>
            <li><a href="#" class="aGallery">Gallery</a>|</li>
            <li><a href="#" class="aContact2">Contact</a></li>
        </ul>
        <a href="http://www.miitbeian.gov.cn" target="_blank"><p>
            Copyright©广州溢然贸易有限公司.All RIGHT RESERVED 粤ICP备16007262号-1
        </p></a>
    </div><img src="/static/to-top.png" class="top">
</footer>{% endblock %}
</body>
</html>
<script type="text/javascript">
    $("a.g1").click(function () {
            showmodal("/media/{{ gallery.24.photo }}")
            return false
        });
        $("a.g8").click(function () {
            showmodal("/media/{{ gallery.25.photo }}")
            return false
        });
        $("a.g13").click(function () {
            showmodal("/media/{{ gallery.26.photo }}")
            return false
        });
        $("a.g20").click(function () {
            showmodal("/media/{{ gallery.27.photo }}")
            return false
        });
        $("a.g").click(function () {
            showmodal("/media/{{ gallery.29.photo }}")
            return false
        });
</script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>
<script src="static/index.js"></script>
